@import "tailwindcss";

@theme {
  --font-ubuntu: var(--font-ubuntu), Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--font-ubuntu), Ubuntu, sans-serif;
  background-color: #F5F5F5;
}
